USE [master]
GO
/****** Object:  Database [ITO-RM]    Script Date: 11/9/2021 12:01:14 ******/
CREATE DATABASE [ITO-RM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITO-RM', FILENAME = N'/var/opt/mssql/data/ITO-RM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITO-RM_log', FILENAME = N'/var/opt/mssql/data/ITO-RM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITO-RM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITO-RM]
GO
/****** Object:  Table [dbo].[Dependencia]    Script Date: 11/9/2021 12:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependencia](
	[id] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Dependencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 11/9/2021 12:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id] [uniqueidentifier] NOT NULL,
	[dependencia_id] [uniqueidentifier] NOT NULL,
	[nombres] [nvarchar](500) NOT NULL,
	[apellidos] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dependencia] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Dependencia] FOREIGN KEY([dependencia_id])
REFERENCES [dbo].[Dependencia] ([id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Dependencia]
GO
USE [master]
GO
